<% @page_title = "Thank you" %>

<% if @checkout.present? && @checkout.payment_status == "paid" %>
  <div class="max-w-5xl py-4 prose mx-auto">
    <h1 class="text-2xl font-bold">Thank you</h1>
    <p class="text-gray-500">Your payment was successful. You’re now on the <strong><%= @checkout.plan_key %></strong> plan.</p>
    <%= link_to "Done", account_path, class: "btn btn-primary" %>
  </div>
<% end %>
