<h1>You've been invited!</h1>

<p>
  <%= @invited_by.display_name %> has invited you to join <strong><%= @account.name %></strong> on <strong><%= ENV.fetch("SITE_NAME") %>
</p>

<p>
  <%= link_to "Accept Invitation", @invitation.accept_url %>
</p>
