<!-- Flash Messages -->
<% if notice = flash[:notice] || flash[:alert] %>
  <div class="flash alert mb-4 shadow-lg <%= flash[:alert] ? 'alert-error' : 'alert-success' %>" role="alert" data-controller="element-removal" data-action="animationend->element-removal#remove">
    <%= image_tag flash[:alert] ? "circle-x.svg" : "circle-check.svg", class: "w-6 h-6" %>
    <span><%= notice %></span>
  </div>
<% end %>
