<!-- Flash Messages -->
<% if notice = flash[:notice] || flash[:alert] %>
  <div class="flash alert mb-4 shadow-lg <%= flash[:alert] ? 'alert-error' : 'alert-success' %>" role="alert" data-controller="element-removal" data-action="animationend->element-removal#remove">
    <%= image_tag flash[:alert] ? "circle-x.svg" : "circle-check.svg", class: "w-6 h-6" %>
    <span><%= notice %></span>
  </div>
<% end %>

<style>
.flash {
  max-width: 600px;
  display: flex;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10;
  animation: appear-then-fade 3s 300ms both;
}

@keyframes appear-then-fade {
  0%,100% { opacity: 0; }
  5%,60%  { opacity: 1; }
}
</style>
