<footer id="footer" class="max-w-6xl mx-auto px-4 py-2 mt-8">
    <div class="flex gap-2 text-sm text-gray-600 dark:text-gray-400">
        <span>Version:</span> <%= app_version_badge %>
        <span>Git Revision:</span> <%= git_revision_badge %>
    </div>
</footer>
