<footer id="footer">
  <div class="flex gap-2 text-sm text-gray-600 dark:text-gray-400">
    <span>Version:</span> <%= app_version_badge %>
    <span>Git Revision:</span> <%= git_revision_badge %>
  </div>
</footer>
