
<h1 class="title">Sign in to your account</h1>
<p class="subtitle">Please enter this 6-character verification code on the sign-in page:</p>

<strong class="txt-large"><%= @magic_link.code %></strong>

<p>This code will work for <%= distance_of_time_in_words(MagicLink::EXPIRATION_TIME) %>.</p>

<p class="footer">Need help? <%= mail_to "support@example.com", "Send us an email" %>.
</p>
