<% @page_title = "Edit Join Code" %>

<div class="max-w-2xl py-4 prose mx-auto">
  <h1>Edit Join Code</h1>

  <p class="lead">Set the maximum number of times this join link can be used.</p>

  <%= render "account/join_codes/form", join_code: @join_code %>
</div>
