@import "tailwindcss";
@import "./reset.css";
@import "./flash.css";

@plugin "@tailwindcss/typography";

/* refs: https://daisyui.com/docs/themes/ */
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  /* refs: https://github.com/saadeghi/daisyui/issues/3882#issuecomment-3382480890 */
  exclude: properties;
}

/* animations */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.6s ease-out;
}

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
}

/* TODO: move to button component css */
/* Copy to clipboard animation */
@keyframes copied-text {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  15% {
    opacity: 1;
    transform: translateY(0);
  }
  85% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50%);
  }
}

.btn-copied .copied-text {
  animation: copied-text 1s ease-in-out;
}
