@import "tailwindcss";

@plugin "@tailwindcss/typography";

/* refs: https://daisyui.com/docs/themes/ */
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  /* refs: https://github.com/saadeghi/daisyui/issues/3882#issuecomment-3382480890 */
  exclude: properties;
}
