<% @page_title = "Invite a New Member" %>

<div class="max-w-5xl py-4 prose mx-auto">
  <h1>Invite a New Member</h1>
  <p>Invite someone to join <strong><%= Current.account.name %></strong>.</p>

  <%= render "account/invitations/form", model: @invitation %>

  <%= link_to "Cancel", account_users_path, class: "btn btn-ghost ml-2" %>
</div>
